{% extends 'app/index.html' %}
{% block body %}
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">{{ recipe.name }}</h1>
            <h3 class="subtitle">
                <a href="{% url 'chef-detail' recipe.chef.uuid %}">&#64;{{ recipe.chef.username }}</a>
                ({{ recipe.created_date }})
            </h2>
        </div>
    </div>
</section>

<div class="container" style="margin-top: 10px">
    <div class="columns">
        <div class="column is-3">
            <article class="panel is-primary">
                <p class="panel-heading">Ingredients</p>
                {% for ingredient in recipe.recipeingredient_set.all %}
                <a class="panel-block" href="{% url 'ingredient-detail' ingredient.ingredient.uuid %}">
                    <strong>{{ ingredient.amount }} {{ ingredient.unit }}</strong>
                    <span class="is-pulled-right">&nbsp;{{ ingredient.ingredient.name }}</span>
                </a>
                {% endfor %}
            </article>
        </div>

        <div class="column is-9">
            {% if recipe.image %}
            <figure class="image is-2by1" style="margin-bottom: 10px">
                <img src="{{ recipe.image.url }}" style="object-fit: cover;">
            </figure>
            {% endif %}
            <article class="panel">
                    <p class="panel-heading">Steps</h1>
                    {% for step in recipe.recipestep_set.all %}
                    <p class="panel-block">
                        <strong>{{ step.step }}.</strong>&nbsp;
                        {{ step.description }}
                    </p>
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>
</div>



{% endblock %}