{% extends 'app/index.html' %}
{% block body %}
<section class="container">
	<div class="columns">
		<div class="column is-3">
			<a class="button is-primary is-block is-alt is-large" href="#">New Recipe</a>
		</div>

		<div class="column is-9">
			<div class="box content">
				{% for recipe in recipes %}
				<article class="media">
					<div class="media-left">
						<figure class="image is-64x64">
							{% if recipe.image %}
							<img src="{{ recipe.image.url }}" alt="Image" style="object-fit: cover;">
							{% else %}
							<img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
							{% endif %}
						</figure>
					</div>

					<div class="media-content">
						<div class="content">
							<p>
								<strong><a href="{% url 'recipe-detail' recipe.uuid%}">{{ recipe.name }}</a></strong> <small><a href="#">&#64;{{ recipe.chef.username }}</a></small>
								<br>
								{{ recipe.ingredients.all|join:", " }}
							</p>
						</div>

						{% if recipe.is_public %}
						<span class="has-text-info">public</span>
						{% endif %}
					</div>
				</article>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
{% endblock %}